.container {
    max-width: 690px;
    margin: 0 auto;
}


.bg-image {
    width: 100%;
    height: 403.2px;
    background: url('m.jpg') no-repeat center;
    background-size: contain;
}
    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   .topnav {
     overflow: hidden;
     background-color: #333;
   }
   
   .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   
   .topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   
   .topnav a.active {
     background-color: #4CAF50;
     color: white;
   }
   
   .topnav .icon {
     display: none;
   }